[submodule "repos/client"]
	path = repos/client
	url = https://github.com/hejiajiudeeyu/delegated-execution-client.git
[submodule "repos/platform"]
	path = repos/platform
	url = https://github.com/hejiajiudeeyu/delegated-execution-platform-selfhost.git
[submodule "repos/protocol"]
	path = repos/protocol
	url = https://github.com/hejiajiudeeyu/delegated-execution-protocol.git
